  /* Estilo personalizado para el menú offcanvas */
  .offcanvas {
    background-color: #EE457C !important; /* Color de fondo */
    color: #000; /* Color de texto negro */
}
.offcanvas .nav-link {
    color: #fffefe; /* Color de texto de los enlaces */
}
.offcanvas .nav-link:hover {
    color: #fff; /* Color del texto en hover */
    background-color: rgba(0, 0, 0, 0.2); /* Fondo en hover */
}
.offcanvas-header .btn-close {
    color: #000; /* Color del botón de cerrar */
}

#loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura de la pantalla */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    position: fixed;
    width: 100%;
    z-index: 1040; /* Para estar por encima del contenido */
}


.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.star-rating {
    color: #FFD700;
}

.video-title
{
    color: white;
}
.navbar {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


 /* Estilo para el botón flotante */
 .back-button {
    position: fixed;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    bottom: 1.5%; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde la derecha */
    background-color: #D1BCFF; /* Color de fondo */
    color: #3B2572; /* Color del texto */
    border: 1px; /* Sin borde */
    border-radius: 34%; /* Botón circular */
    width: 88px; /* Ancho del botón */
    height: 40px; /* Alto del botón */
    display: flex;
    align-items: center; /* Centrar el contenido verticalmente */
    justify-content: center; /* Centrar el contenido horizontalmente */
    font-size: 16px; /* Tamaño de la fuente */
    text-decoration: none;
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    z-index: 1000; /* Asegurarse de que esté en frente */
}